<ion-view view-title="Meus Filhos!!">
  <ion-content>
    
    <div ng-show="{{cahceLocal.l_dep}}">
    	
	    <ion-list type="card" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
  		<ion-item ng-repeat="dep in cahceLocal.l_dep" class="item-thumbnail-left">
			<img ng-src="{{dep.d_pess.photoURL}}">
		    <h2>{{dep.d_pess.apelido}}</h2>
		    <p>{{dep.d_pess.displayName}}</p>
    
		    <ion-option-button class="button-positive" ng-click="locationGo('/tab/dependentes/{{dep.uid}}')">Detalhes</ion-option-button>
		    <ion-option-button class="button-info" ng-click="edit(atv.tarefa)">Editar</ion-option-button>
		    <ion-delete-button class="ion-minus-circled" ng-click="remove(atv.tarefa)"></ion-delete-button>
		    <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(atv.tarefa, $fromIndex, $toIndex)"></ion-reorder-button>

  		</ion-item>
	</ion-list>
	    
	    
	    <a href="#/tab/dependentes/dependente-add" title="Add." class="balanced">Add+</a>
    </div>
    <div ng-show="{{!cahceLocal.l_dep}}">
   		Não possuí dependentes cadastrados!
   		<a href="#/tab/dependentes/dependente-add" title="Add." class="balanced">Add</a>
   	</div>
   	
   	
   	
    
  </ion-content>
</ion-view>

