<ion-view view-title="Criar Conta" name="login-createaccount">
  <ion-content class="padding"> 
      
      <form name="formCreateUser" novalidate>
	      <div class="list">
		      <label class="item item-input item-floating-label">
			    <input type="text" name="displayName" placeholder="(* )Nome" ng-model="user.displayName" required>
			  </label>
			  
			  <label class="item item-input item-floating-label">
			    <input type="date" name="birthDate" placeholder="Data de Nascimento" ng-model="user.birthDate">
			  </label>
			  
			  <label class="item item-input item-floating-label">
			    <input type="email" name="email" placeholder="(*) E-mail" ng-model="user.email" required>
			  </label>
			  
			  <label class="item item-input item-floating-label">
			    <input type="password" name="password" placeholder="Senha" ng-model="user.password1" required>
			  </label>
			  
			  <label class="item item-input item-floating-label">
			    <input type="password" name="password2" placeholder="Repita a senha" ng-model="user.password2" required>
			  </label>
	      
	      </div>
	      <button class="button button-block button-balanced" ng-click="loginCreateAccount(user)" ng-disabled="formCreateUser.$invalid">Criar Conta</button>
	   
		</div>
      </form>
  </ion-content>
</ion-view>
