<ion-view view-title="Recuperar Senha" name="login-view">
  <ion-content class="padding">
      <form name="formLogin" novalidate>
	      <div class="list list-inset">
	          <label class="item item-input">
	              <input type="email" name="email" placeholder="E-mail cadastrado" ng-model="user.email" required>
	          </label>
	      	<button class="button button-block button-balanced" ng-click="loginForgot(user)" ng-disabled="formLogin.$invalid">Enviar</button>
	      </div>
      </form>
  </ion-content>
</ion-view>
