<ion-view view-title="Entrar" name="login-view">
  <ion-content class="padding">
      
      
      <button class="button button-small button-positive" ng-click="loginFacebook()" >Facebook  <ion-spinner icon="android" ng-show="showLoaderLoginFacebook"></button>
      <button class="button button-small button-assertive" ng-click="loginFacebook()" >Google  <ion-spinner icon="android" ng-show="showLoaderLoginGoogle"></button>
      
      <form name="formLogin" novalidate>
	      <div class="list list-inset">
	          <label class="item item-input">
	              <input type="email" name="email" placeholder="E-mail" ng-model="user.email" required>
	          </label>
	          <label class="item item-input">
	              <input type="password" name="password" placeholder="Password" ng-model="user.password" required>
	          </label>
	      </div>
	      <button class="button button-block button-balanced" ng-click="login(user)" ng-disabled="formLogin.$invalid">Login <ion-spinner icon="android" ng-show="showLoaderLogin"></button>
	      <button class="button button-outline button-block button-positive" ng-click="go('login-createaccount')" title="Esqueci minha senha.">Criar conta.</button>
	      <a href="#/login-forgot" title="Esqueci minha senha." class="balanced">Esqueci minha senha.</a>
	      
      </form>
  </ion-content>
</ion-view>
