<ion-view view-title="Configuracoes da Conta">
  <ion-content>
    
    <div ng-show="{{cahceLocal.d_pess}}">
    	<p><b>Dados Pessoais</b></p>
	   	nome: {{cahceLocal.d_pess.displayName}}<br />
	   	email: {{cahceLocal.d_pess.email}}<br />
	   	data nascimento: {{cahceLocal.d_pess.birthDate}}<br />
	   	<img ng-src="{{cahceLocal.d_pess.photoURL}}">
	   	<hr />
	   	
	   	<div ng-show="{{cahceLocal.aux}}">
		   	<p><b>Auxiliares - Dados Pessoais</b></p>
			   	nome: {{auxiliares.firstName}}<br />
			   	email: {{auxiliares.email}}<br />
			   	data nascimento: {auxiliares.birthDate}<br />
			   	telefone: {{auxiliares.phone}}<br />
			   	<hr />
	   	</div>
	   	<div ng-show="{{!cahceLocal.aux}}">
	   		Não possuí Auxiliar cadastrado!
	   	</div>
	   	
	   	<div ng-show="{{cahceLocal.l_dep}}">
		   	<p><b>Dependentes</b></p>
		   	<ion-list>
		     <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="dep in dependentes" type="item-text-wrap" href="#/tab/dependentes/{{dep.dependente.uid}}">
		        <img ng-src="{{dep.dependente.d_pess.photoURL}}">
		         <h2>{{dep.dependente.d_pess.apelido}}</h2>
		        <p>{{dep.dependente.d_pess.firstName + ' ' + dep.dependente.d_pess.lastName}}</p>
		        <i class="icon ion-chevron-right icon-accessory"></i>
		      </ion-item>
		    </ion-list>
	   	</div>
	   	<div ng-show="{{!cahceLocal.dependente}}">
	   		Não possuí dependentes cadastrados!
	   	</div>
    </div>
    <div ng-show="{{!cahceLocal.d_pess}}">
	   	<button class="button button-outline button-block button-positive" ng-click="goReload()" title="Esqueci minha senha.">recarregar.</button>
	</div>
    
    <button class="button button-outline button-assertive" ng-click="logout()">Logout</button>
   
    
  </ion-content>
</ion-view>
